body {
  background-color: rgb(12, 25, 43);
  overflow: hidden;

  width: 100%;
  height: 100%;
}
.landing-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Змінено на flex-start, щоб назва була близько до верхнього краю */
  padding-top: 50px; /* Доданий padding-top для відступу від верхнього краю */
}

.landing-page-content {
  width: 1600px;
  text-align: center;
}

.header {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 0;
  color: #f8f7f7ef;
}

.coin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.coin .img {
  margin-bottom: 10px;
}
.coin .img img {
  border-radius: 50%;
  max-width: 500px;
}
.btns {
  display: flex;
  justify-content: space-between; /* Рівномірно розподіляє кнопки в ряду */
  align-items: stretch;
}

.coin .btns {
  display: flex;
  width: 100%;
}

.coin .btn {
  flex: 1; /* Рівномірно розподіляє простір між кнопками */
  margin: 0 5px; /* Додайте простори навколо кнопок */
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  color: #0c0000;
  background-image: linear-gradient(to right, #00ffa3, #03e1ff, #dc1fff);
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
}

.coin .btn:hover {
  background-image: linear-gradient(to right, #dc1fff, #03e1ff, #00ffa3);
}
.rotate-on-click {
  transition: transform 0.5s ease;
}

.rotate-on-click:hover {
  transform: rotate(360deg);
}
